@import url('bootstrap/css/bootstrap.min.css');
@import url('bootstrap/css/bootstrap-theme.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');

html{
	position : relative;
	height : 100%;
}

body { 
     padding-top: 52px;
     background-color : white;
     height:100%;
  	position: relative;
   font-family: Segoe UI;
}
#main-site{
	min-height:100%;
 	position: relative;
}
#main-container{
	position : relative;
	padding-bottom: 50px;
}

.navWidth{
	width : 100%;
}

.jumbotronTop{

	
}
.jumbotron .container{
	text-align: center;
	
	}

.jumbotronTop .container h1{
	margin-top : 117px;
}
.info{
	border-bottom-style: solid;
	border-bottom-width : px;
	border-bottom-color: #00325D ;
	
	border-top-style: solid;
	border-top-width : 1px;
	border-top-color: #D1D1D1 ;
	
	height : 70px;
	margin-top : -30px;
	margin-bottom : 30px;
	background-color : white;
}

.info div{
	text-align : center;
	font-size : 50px;
	color : #00325D;
}

.iconInfo{
	margin-top :10px;
	margin-bottom :20px;
	margin-right : 50px;
	margin-left : 50px;
	
}

#footer{
	width : 100%;
	
	background-color: white;

	position : absolute;
	bottom : 0px;
	
	text-align : center;
	
}
#footer p{
	margin : 0 auto;
}
.thumbnailEgal{
	min-height: 450px;
	padding : 0px;
	max-width : 300px;
	text-align : center;
	margin-top : 40px;
	margin-bottom : 40px;
	margin-right : auto;
	margin-left : auto;
}

.thumbnailLess{
	border : none;
	box-shadow : none;
	min-height: 10px;;
}
.container-small{

}
.bande{
	margin-right : 0px;
	margin-left : 0px;
	margin-top : 150px;
	margin-bottom : 150px;
	
	text-align : center;
	
	color : white;
	
	box-shadow: 0px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
	
	height : 500px;
	width : 100%;
	
	background-position: center center;
	background-repeat: no-repeat; 
	background-attachment: fixed; 
	background-size: cover; 

	
}

.jumbotronBande{
	background : none;
	color : white;
	margin-top : -50px;
}

.jumbotronBande p{
	width : 65%;
	margin : auto;
}

.jumbotronBande h1{
	color : white;
	font-size: 50 px;
	background : none;
	border : none;
}
.bandeMil{
	margin : 100PX auto;
}

.simple{
	margin-right : 0px;
	margin-left : 0px;
	margin-top : 50px;
	margin-bottom : 0px;
	
	text-align : center;
		
	height : 350px;
	width : 100%;	
}

.jumbotronSimple{
	background : none;
	margin-top : -50px;
	margin-bottom : 0px;
}

.jumbotronSimple p{
	width : 65%;
	margin : auto;
}

.jumbotronSimple .container p{
}

.jumbotronSimple h1{
	font-size: 50px;
	background : none;
	border : none;
}

.titre{
	text-align : center;
	background-image: url("img/limit.png") ;
	background-repeat:no-repeat;
	background-position : center bottom;
	background-size : 35% ;
	margin-bottom : 20px;
	font-size: 50px;
}
.logo{
	background-size : 9%;
	background-position : center 0px;
	background-repeat:no-repeat;
}

@media (min-width: 768px){.navbar-nav>li>a{
	padding-top : 15px;
	padding-bottom : 0px;
}}

.navbar-brand{
	height : 80px;
	margin-right : -20px;
}

.lignectout{
	text-align : center;
	font-size: 20px;
}
.media{
	margin : 10px auto;
	max-width : 900px;
}

.media-body{
	text-align : justify;
}

.mediaR{

}
.media-heading{
text-align : center;
	font-size : 30px;
}
.thumbnail .caption :not(h2){
}

.contact{
	max-width : 600px;
	margin-top : 35px;
}
.auto{
	margin : auto;
	text-align : center;
}
.iconInfo{
	font-size : 100px;
	color: #00325D;}
.navbar-brand{
	padding-top : 3px;
}
.titleNav a{
	margin-left : -20px;
	font-size : 25px;
}

.navbar-nav{
	font-size : 21px;

	width : 80%;
	margin :0 auto;
	margin-top : 18px;
	
	white-space: nowrap;
}
.navbar-default{
	border-bottom : solid 3px white;
}

.navbar-default .navbar-nav>li>a{
	color  : #00325D;
	margin :0 auto;
	text-align : center;
}

.btn{
	
}

.foot1 .colorWhite{
	color : white;
}

h1, h2,.jumbotron h1, .media-heading{
	color : #00325D;
}
.navbar-toggle{
	height : 40px ;
	width : 43px;
}
.icon-bar{
width : 39px;
height : 3px;
}

.foot1{
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: #F75147 ;
	
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #F75147 ;
	
	margin-bottom : 5px;
}
.foot1 p{
	font-size : 20px;
	color : #00325D;
}
.media-body{
	min-width : 330px;
	width : 50%;
	display : block;
}

body a{
	text-decoration : none !important;
	color : #00325D !important;
}
body a:hover{
	color : #00325D !important;
	text-decoration : none !important;
}
.media-right , .media-left{
	float :left;
}