@import url('bootstrap/css/bootstrap.min.css');
@import url('bootstrap/css/bootstrap-theme.css');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');

body { 
     padding-top: 51px; 
     background-color : #EFEFEF;
     height : 100%;
}
.navWidth{
	width : 100%;
}

.jumbotronTop{
	background-image: url("img/img.jpg");
	background-position: center center;
	background-repeat: no-repeat; 
	background-attachment: fixed; 
	background-size: cover; 
	background-position: center center;
	background-repeat: no-repeat; 
	background-attachment: fixed; 
	background-size: cover; 

	height : 600px;
	color : white;
}
.jumbotron .container{
	text-align: center;
	
	}

.jumbotronTop .container h1{
	margin-top : 117px;
}
.info{
	border-bottom-style: solid;
	border-bottom-width : 1px;
	border-bottom-color: #D1D1D1 ;
	
	border-top-style: solid;
	border-top-width : 1px;
	border-top-color: #D1D1D1 ;
	
	height : 70px;
	margin-top : -30px;
	margin-bottom : 30px;
	background-color : white;
}

.iconInfo{
	margin-top :14px;
	margin-right : 10px;
}

footer{
	height: 250px;
	
	background-color: white;
	
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #D1D1D1 ;
}
.thumbnailEgal{
	min-height: 450px;
	padding : 0px;
	max-width : 300px;
	text-align : center;
	margin-top : 40px;
	margin-bottom : 40px;
	margin-right : auto;
	margin-left : auto;
}

.thumbnailLess{
	border : none;
	box-shadow : none;
	background-color : #EFEFEF;
	min-height: 10px;;
}
.container-small{
	padding-right : 70px;
	padding-left : 70px;
}
.bande{
	margin-right : 0px;
	margin-left : 0px;
	margin-top : 150px;
	margin-bottom : 150px;
	
	text-align : center;
	
	color : white;
	
	box-shadow: 0px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;
	
	height : 500px;
	width : 100%;
	
	background-position: center center;
	background-repeat: no-repeat; 
	background-attachment: fixed; 
	background-size: cover; 

	
}

.jumbotronBande{
	background : none;
	color : white;
	margin-top : -50px;
}

.jumbotronBande p{
	width : 65%;
	margin : auto;
}

.jumbotronBande h1{
	color : white;
	font-size: 63 px;
	background : none;
	border : none;
}
.bandeMil{
	margin : 100PX auto;
}

.simple{
	margin-right : 0px;
	margin-left : 0px;
	margin-top : 50px;
	margin-bottom : 0px;
	
	text-align : center;
		
	height : 350px;
	width : 100%;	
}

.jumbotronSimple{
	background : none;
	margin-top : -50px;
	margin-bottom : 0px;
}

.jumbotronSimple p{
	width : 65%;
	margin : auto;
}

.jumbotronSimple h1{
	font-size: 63 px;
	background : none;
	border : none;
}

.titre{
	text-align : center;
	background-image: url("img/limit.png") ;
	background-repeat:no-repeat;
	background-position : center bottom;
	background-size : 35% ;
	margin-bottom : 20px;
}
.logo{
	background-image: url("img/nostyLogoTransparent.png") ;
	background-size : 9%;
	background-position : center 0px;
	background-repeat:no-repeat;
}

.lignectout{
	text-align : center;
	font-size: 20px;
}
.media{
	margin : 10px auto;
	max-width : 800px;
}

.media-body{
	color : #6E6E6E;
	text-align : justify;
}

.media-body h4{
	color : black;
	
}
.mediaR{
	text-align : right;
	}
.thumbnail .caption :not(h2){
	color : #6E6E6E;
}

.contact{
	max-width : 600px;
	margin-top : 35px;
}
.auto{
	margin : auto;
	text-align : center;
}
.iconInfo{color: #778daf;}
.navbar-brand{
	padding-top : 3px;
}
.titleNav a{
	margin-left : -20px;
	font-size : 25px;
}